*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

/* Custom CSS to solve the scrollbar issue in notif history */
/* styles.css */
.hide-scrollbar::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
